### javascript
###
### files

**/secrets.js
**/config.json
**/package.json
**/package-lock.json

### directories

**wtftw/
**node_modules/


### python
###
### files

**/secrets.py
**/.DS_Store
**/pyvenv.cfg

### directories

**bin/
**lib/python3.9/site-packages/
**lib/
**dota_stats/
**python/
**include/
